doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    link(rel='stylesheet', href='/assets/stylesheets/bootstrap.min.css')
    title
      | Smart Tool Crib
  body
    div(class="container-fluid")

      div(class="jumbotron jumbotron-fluid")
        div(class="row")
          div(class="col-sm-4 col-sm-offset-6")
          h1(class="display-3") Smart Tool Crib

      div(class="row", style="font-size: 2em;")
        div(class="col-sm-12")
          div(class="card")
            div(class="card-block")
              div(class="card-text")

                div(class="row")
                  div(class="col-sm-3")
                    div(class="card-title", style="font-weight: bold;") Tool Cart
                  div(class="col-sm-9")
                    div(class="card-title") #{rackID}

                div(class="row")
                  div(class="col-sm-3")
                    div(style="font-weight: bold;") Last Updated
                  div(class="col-sm-9")
                    div(class="card-title") #{since}

                div(class="row")
                  div(class="col-sm-3")
                    div(class="machine-info", style="font-weight: bold;") Zone
                  div(class="col-sm-9")
                    p #{zoneUUID}

                div(class="row")
                  div(class="col-sm-3")
                    div(style="font-weight: bold;") Tools Count
                  div(class="col-sm-9")
                    div(class="card-title") #{toolCount}

                div(class="row")
                  div(class="col-sm-12")
                    div(style="font-weight: bold;") Tool List
                div(class="row")
                  each tool in tags
                    div(class="col-sm-3") #{tool}

    footer(style="position: absolute; bottom: 0px; right: 10px;") Powered by&nbsp;
      b τarka λabs

    script(src='/assets/javascripts/bootstrap.min.js', type='text/javascript')
    script(src='/assets/javascripts/jquery-3.1.1.slim.min.js', type='text/javascript')
    script(src='/assets/javascripts/tether.min.js', type='text/javascript')

    script.
      setTimeout(function() {
        window.location.reload(true);
      }, 5000);
